.createpost_card{
    padding: 3%;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
    /* box-shadow: 5px 10px 20px #888888 */
}
.home_card{
    max-width: 600px;
    margin: 10px auto;
}
.home_comments{
    width: 100%;
}
.userProfilePic{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
button:focus {
    outline: 0;
    outline: 0;
}
a:hover{
    text-decoration: none;
}
.postTitle{
    margin-left: 2%;
}
.postUser{
    margin-top: 5%;
    margin-left: 2%;
}
